* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0 3rem;
  contain: size layout style;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  height: 5rem;
  background-color: #fff;
}

.nav {
  max-width: 1200px;
  min-width: 1200px;

  display: flex;
  position: relative;
  align-items: center;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.name {
  font-size: 1.4rem;
  font-weight: 520;
  color: #fc8019;
  margin-left: 1rem;
  margin-right: 10rem;
}

.nav-items {
  padding: 1rem;
}

.items-container {
  margin: auto;
}

ul {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  margin-right: 5rem;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  cursor: pointer;
}

.icons {
  margin: 0.5rem;
  font-size: 1.3rem;
}

.body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 6rem;
}

.horizontal-border {
  border: 1px solid rgb(240, 240, 245);
  margin: 32px calc(10% + 52px);
}

/* resturant container and card */

.res-heading {
  margin-bottom: 16px;
}

.res-container {
  margin-left: calc(10% + 36px);
  margin-right: calc(10% + 36px);
  padding: 16px;
}

.res-cards {
  padding: 0px;
  list-style: none;
  margin-block-end: 0px;
  display: grid;
  -webkit-box-align: start;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.filter-container {
  height: 44px;
  width: 100%;
  gap: 12px;
  display: flex;
  align-content: center;
  margin-bottom: 12px;
}

.button {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(226, 226, 231);
  padding: 9px 12px;
  border-radius: 1.4rem;
  cursor: pointer;
  box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
  font-family: Basis_Grotesque_Pro;
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.3px;
}

.res {
  display: grid;
  transition: all 0.05s ease 0s;
  cursor: pointer;
  gap: 12px;
  grid-auto-flow: row;
  justify-content: stretch;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
}

.res:hover {
  cursor: pointer;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
  transform: scale(0.93);
}

.res-card {
  position: relative;
}

.res-card::before {
  content: "";
  height: 0px;
  display: block;
  padding-top: calc(66.6667%);
}

.card-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.res-image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.res-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;

  display: grid;
  align-content: end;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  height: calc(81px);
  background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
}

.offer {
  -webkit-font-smoothing: antialiased;
  font-family: ProximaNovaCond_Black;
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: rgba(255, 255, 255, 0.92);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.res-data {
  margin-left: 1rem;
}

.res-info {
  margin: 0px;
  font-family: Basis_Grotesque_Pro_Bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
  overflow: hidden;
  width: 100%;

  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.res-category-area {
  font-family: Basis_Grotesque_Pro;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
  overflow: hidden;
  width: 100%;

  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* Shimmer UI */

.shimmer-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.shimmer-card {
  height: 180px;
  width: 210px;
  background-color: #f0f0f0;
  margin-top: -30px;
  margin: 20px;
  padding: 8px;
  border-radius: 13px;
}

/* Search Container */
.search-container {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 7rem;
  padding-bottom: 8px;
}

.input-container {
  position: sticky;
  height: 48px;
  width: 860px;
  margin: 0 auto 8px;
  border: 1px solid rgba(40, 44, 63, 0.3);
  border-radius: 3px;
  border-bottom: 1px solid rgba(40, 44, 63, 0.2);
  background: #fff;
}

.input {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  justify-content: center;
  padding: 16px;
}

.search-box {
  width: 100%;
}
.search-box input {
  width: 100%;
  height: 100%;
  font-size: 1.15rem;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: sans-serif;
  vertical-align: middle;
  font-weight: 500;
  outline: none;
}

.search-logo {
  font-size: 1.15rem;
}

.cuisine-container {
  background-color: #fff;
  position: relative;
  min-height: calc(100vh - 70px);
  width: 860px;
  margin: 10px auto;
  padding: 28px 0px 0px 16px;
}

.cuisine-title {
  font-size: 1.43rem;
  font-weight: 800;
  color: #3d4152;
  letter-spacing: -0.3px;
  font-family: ProximaNovaExtraBold, arial, Helvetica Neue, sans-serif;
}

.cuisine-img-container {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.cuisine-img {
  width: calc(-13.1765px + 5.88235vw);
  height: calc(-18.7245px + 8.35913vw);
  min-width: calc(-13.1765px + 5.88235vw);
  min-height: calc(-18.7245px + 8.35913vw);
}

.cuisine-img img {
  width: 100%;
  height: 100%;
}

/* Banner css*/

.banner-container {
  margin-left: calc(10% + 36px);
  margin-right: calc(10% + 36px);
  position: relative;
  padding: 16px;
}

.btn-container {
  display: flex;
  position: absolute;
  right: 16px;
}

.arrow {
  border: none;
  padding: 8px 8px 4px;
  border-radius: 100%;
  height: 34px;
  margin: 3px;
}

.banner-heading {
  margin-bottom: 16px;
}

.image-container {
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
}

.banner {
  padding-left: 16px;
  padding-right: 24px;
  width: 100%;
}

.banner-img {
  width: 144px;
  height: 184px;
}

.banner-img img {
  width: 100%;
  height: 100%;
}

/*Top Restaurant */
.toprest-container {
  margin-left: calc(10% + 36px);
  margin-right: calc(10% + 36px);
  position: relative;
  padding: 16px;
}

.topres-card {
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
}

.top-card {
  padding-left: 16px;
  padding-right: 24px;
  width: 100%;
}
.top-res {
  width: 19.5rem;
  height: auto;
}
